.progress-container{
    border-radius: 2px;
    margin: 10px auto;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.progress-step{

    .step-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
       
        .step-idx{
            margin: auto 0;
            border-radius: 80%;
            background: #fff;
            border: 1px solid #D3D3D3;
            width: 20px;
            height: 20px;
            padding: 3px;
            text-align: center;
            margin-bottom: 12px;
            color: #D3D3D3;
            &:last-of-type{
                color:red;
            }
            &::before{
                position: absolute;
                z-index: -1;
                top: 22%;
                left: -50%;
                content: "";
                width: 90%;
                height: 1px;
                background: #D3D3D3;
            }

            &.first{
                &::before{
                    width: 0;
                }
            }

            &.completed, &.current{
                background-color: #5c8ef2;
                color: #fff;
                border: none;
                &::before{
                    height: 2px;
                    background: #5c8ef2;
                }
            }

            &.completed{
                font-weight: bold;
            }
        }
    }
}
